@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("drakeNo (2).png");
  opacity: 1;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  font-weight: bolder;
}

.app-header {
  text-align: center;
}

.app-body {
  margin: 0rem 2rem 0rem 2rem;
}

.pass-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.pwd1-div, .pwd2-div{
  position: relative;
  display: inline-block;
}

i.eye1 {
  position: absolute;
  top: 27%;
  left: 80%;
  color: rgb(44, 44, 44);
}

i.eye2 {
  position: absolute;
  top: 27%;
  left: 80%;
  color: rgb(44, 44, 44);
}

i:hover {
  color: #000;
  cursor: pointer;
}

input {
  margin: 7px;
}

label {
  color: white;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.signUpDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
